.chat-main {
  width: 90%;
  margin: auto;
}

.messages {
  height: 350px;
  background-color: var(--gray);
  overflow-y: scroll;
  margin-top: 20px;
}

.chat-input {
  background-color: var(--light);
}

#comment-name {
  margin-top: 10px;
  width: 40%;
}

#comment-field {
  margin-top: 10px;
  width: 90%;
}

#messages p {
  background-color: var(--light);
  min-height: 40px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 20px;
  display: inline-block;
  width: 90%;
  margin: 5px 40px;
}

em {
  color: var(--blue);
  font-weight: 600;
}

label {
  color: var(--blue);
  margin-left: 20px;
  font-weight: 600;
}

input {
  margin-left: 110px;
  margin-top: 10px;
}

.send {
  position: relative;
  left: 80%;
}